/* BROKER */

.mainframe {
  width: 100%;
}

.broker-listing-header {
  margin-top: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.broker-listing-header-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.broker-listings {
  margin-left: 50px;
  font-family: "Coiny", sans-serif;
  font-size: 60px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.add-broker-form {
  background-color: rgb(219, 196, 163);
  padding: 16px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 24px;
  border: 2px solid brown;
  border-radius: 50px;
}

.form-contents {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 24px;
  gap: 16px;
  border-radius: 16px;
}

input::placeholder,
textarea::placeholder {
  font-weight: bolder;
  color: black;
}

.email-phone {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.email-phone input {
  width: 100%;
  background-color: rgb(228, 210, 187);
  border: 4px solid chocolate;
  border-radius: 10px;
  padding: 16px;
  color: inherit;
  font-weight: bold;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.name-address {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 14px;
  padding-right: 10px;
}

.name-address select,
.name-address input {
  background-color: rgb(228, 210, 187);
  border: 4px solid chocolate;
  border-radius: 10px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.city-name {
  width: 150px;
}

.province-name {
  width: 150px;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.address {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.description textarea {
  background-color: rgb(228, 210, 187);
  border: 4px solid chocolate;
  border-radius: 20px;
  resize: none;
  width: 500px;
  height: 180px;
  padding: 16px;
  font-weight: bold;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.submit,
.showForm {
  border: 2px solid rgb(86, 37, 2);
  font-family: "Coiny", sans-serif;
  line-height: 1;
  text-transform: uppercase;
  font-size: 15px;
  padding: 16px;
  background-image: linear-gradient(
    135deg,
    brown,
    chocolate,
    burlywood,
    yellow
  );
  color: inherit;
  border-radius: 30px;
  cursor: pointer;
  width: 200px;
  height: 70px;
  font-size: 20px;
  transition: 0.3s;
}

.showForm:hover,
.submit:hover {
  transform: scale(1.05);
}

.showForm {
  background-image: linear-gradient(
    135deg,
    rgb(239, 35, 35),
    rgb(144, 142, 141),
    rgb(73, 162, 147),
    rgb(132, 132, 52)
  );
  margin-right: 50px;
  width: 200px;
  height: 80px;
  font-size: 20px;
}

.broker-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
}

.broker-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  width: 100%;
}

.broker {
  font-size: 20px;
  margin-bottom: 16px;
  padding: 16px 30px;
  background-color: white;
  display: flex;
  gap: 2px;
  border-radius: 16px;
  width: 80%;
  border: 2px solid saddlebrown;
}

.brok-deets {
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 16px;
  padding: 16px 30px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  border-radius: 16px;
  width: 100%;
}

.name-address-deets {
  display: flex;
}

.li-address-name {
  width: 100%;
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.li-city {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 17px;
}

.li-address {
  font-family: "Montserrat", cursive;
  font-weight: bold;
  font-size: 25px;
}

.li-description {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin-top: 5px;
}

.li-email,
.li-phone {
  text-align: center;
  font-family: "Montserrat", cursive;
  font-weight: lighter;
  font-size: 18px;
  border-bottom: 2px solid black;
  padding: 3px;
}

.li-phone {
  border-bottom: none;
}

.brok-buttons {
  display: flex;
  flex-direction: column;
  padding: 4px;
  gap: 10px;
}

.update,
.delete {
  border: 2px solid rgb(176, 64, 94);
  font-family: "Coiny", sans-serif;
  line-height: 1;
  text-transform: uppercase;
  font-size: 15px;
  padding: 16px;
  color: inherit;
  border-radius: 30px;
  cursor: pointer;
  width: 150px;
  height: 50px;
  font-size: 20px;
  transition: 0.3s;
}

.update:hover,
.delete:hover {
  transform: scale(1.05);
}

.update {
  background-image: linear-gradient(
    135deg,
    rgb(31, 223, 95),
    rgb(85, 254, 0),
    rgb(183, 203, 184),
    rgb(53, 242, 229)
  );
}

.delete {
  background-image: linear-gradient(
    135deg,
    rgb(76, 0, 76),
    rgb(255, 0, 76),
    rgb(250, 30, 1),
    rgb(202, 110, 110)
  );
}
