@import url("https://fonts.googleapis.com/css2?family=Coiny&family=Montserrat:wght@600&family=Sono:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Coiny&family=Montserrat:wght@600&family=Roboto:ital,wght@1,100&family=Sono:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Coiny&family=Montserrat:wght@600&family=Roboto:ital,wght@0,400;1,100&family=Sono:wght@400;600;700&family=Ubuntu:wght@300&family=Young+Serif&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
}

/* NAVIGATION BAR */

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  background-color: rgb(179, 177, 173);
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.nav-item {
  margin: 0 20px;
}

.nav-item a {
  text-decoration: none;
  color: #fff;
}

.nav-item a:hover {
  text-decoration: underline;
}
